<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{contato.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <span>
              {{contato.nome}}
            </span>
            <p>
              {{contato.telefone}}
            </p>
            <p>
              {{contato.email}}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
